/* css styling */

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


/* styling of nav bar or we can say that header */
.header{
    background-color: rgb(39, 38, 38);
    height: 50px;
}
.nav{
    display: flex;
    text-align: center;
    font-size: 18px;
    
}
.nav div{
       width: 80px;
      
       margin: 15px;
}
.nav div:hover{
    background-color: rgb(155, 134, 155);
    width: 120px;
    font-size: 20px ;
}
.nav a{
    text-decoration: none;
    color: white;
}
/* a background image is styled in this */
.image_1{
    background-image: url("./bg_img1.jpg");
    height: 620px;
   
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
/* title is to be styled of first block */
.title{
    font-size: 55px;
    color: rgb(218, 149, 21);
    font-weight: bolder;
    
}
.description{
    font-size: 35px;
    color: wheat;
    font-weight: bold;
    margin-top: 20px;
}
.caption{
    font-size: 20px;
    color: wheat;
    text-align: center;
    margin-top: 50px;
}
/* styling of second block */
.second_block{
    height: 1050px;
    background-color: rgba(24, 23, 23, 0.856);
    display: flex;
    flex-direction: column;
}
.music{
    display: flex; 
    justify-content: center;
}
.second_block h1{
    color: white;
    font-size: 60px;
    text-align: center;
    font-weight: bolder;
}
.subtitle {
    color: white;
    font-size:40px ;
    text-align: center;
    margin-top: 30px;
    font-weight: bolder;
}
/* a small paragraph is to be written class name as music caption is styled. */
.music_caption{
    color: white;
    text-align: center;
    font-size: 20px;
    margin-top: 30px; 
}
.second_block button{
    width: 200px;
    height: 50px;
    background-color: red;
    color: white;
    font-size: 20px;
    margin-left: 570px;
    margin-top: 30px;
    border: red 1px solid;
}
.image{
    background-image: url("./mockup\ img.png");
     height: 700px;
     width: 900px;
    margin-left: 200px;
    background-size: cover;
}
/* styling of third block */
.third_block{
    height: 1050px;
    background-color: rgb(248, 248, 247);
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.third_block h1 {
    text-align: center;
    

}
.third_description{
    margin-top: 30px; ;
    font-size: 20px;
    justify-content: center;
    text-align: center;
}
/* stying of fourth block */
.fourth_block{
    display: flex;
    flex-direction: column;
    background-image: url(./fourthbgimg.jpg);
    height: 400px;
    justify-content: center;
    align-items: center;

}
/* stying of fourth block */
.fourth_block h1{
            color: white;
           
}
/* all paragraph tags are styled under class named fourth block. */
.fourth_block p {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
}
/* styling of fifth block */
.fifth_block{
    display: flex;
    height: 400px;
    background-color:white;
    padding: 30px;
}
.fifth_block img{
    height: 300px; 
    width: 500px;
    margin-top: 40px;
    margin-left: 70px;
}
/* class name content is to be styled  and the paragraph and heading tag is styled under content class. */
.content{
    display: flex;
    flex-direction: column;
}
.content h1{
    margin-left: 60px;
}
.content p{
    margin-left: 60px;
    margin-top: 30px;
}
.footer{
    height: 160px;
    background-color: rgb(34, 32, 32);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
}
/* footer styling */
/* column added so the column style is to be applied. */
/* all default styles of list must be avoided, so i used selector */
ul li{
    list-style-type: none;
}
/* selector is used to avoid default styling of links */
.first_col a{
      text-decoration: none;
      color: white;
}
.second_col a {
    text-decoration: none;
    color: white;
}
.third_col a{
    text-decoration: none;
    color: white;
}
.fourth_col a{
    text-decoration: none;
    color: white;
}
/* the last step name as copyright is to be styled. */
.copyright{
    height: 50px;
    display: flex;
    flex-direction: column;
    background-color: rgb(75, 72, 72);
    padding: 20px;
}
  /* styling finish */


